/evento/src/prisma
evento/src/prisma/schema.prisma.backup
.DS_Store
evento/.env
evento/.codesandbox
evento/.devcontainer
evento/README.md
evento/node_modules
evento/build
old_evento/
old_test_absdhfbsfhbvsfdb_ schema.prisma
old_test_sdfgfddgfhdgfh_.env
sandbox.zip
